USE [FarmaciaDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_ReporteVentas]    Script Date: 19/06/2026 20:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_ReporteVentas]
    @NombreUsuario VARCHAR(45) = NULL, 
    @Periodo VARCHAR(20) = NULL,       
    @Fecha DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    IF @Fecha IS NULL SET @Fecha = CAST(GETDATE() AS DATE);

    IF @NombreUsuario = '' SET @NombreUsuario = NULL;

    SELECT
        v.IdVenta,
        (p.Nombre + ' ' + p.Apellido) AS NombreVendedor,
        v.Fecha AS FechaVenta,
        m.Nombre AS Medicamento,
        -- NUEVO: Agregamos explicitamente la cantidad del detalle
        dv.Cantidad,
        (dv.Cantidad * dv.PrecioUnitario) AS Monto
    FROM dbo.Venta v
    INNER JOIN dbo.Usuario u ON v.IdUsuarioVendedor = u.IdUsuario
    INNER JOIN dbo.Persona p ON u.IdPersona = p.idPersona
    INNER JOIN dbo.DetalleVenta dv ON v.IdVenta = dv.IdVenta
    INNER JOIN dbo.Medicamento m ON dv.IdMedicamento = m.IdMedicamento
    WHERE 
      (@NombreUsuario IS NULL OR (p.Nombre + ' ' + p.Apellido) LIKE '%' + @NombreUsuario + '%')
      AND (
          @Periodo IS NULL
          OR (@Periodo = 'Diaria'   AND CAST(v.Fecha AS DATE) = @Fecha)
          OR (@Periodo = 'Semanal'  AND CAST(v.Fecha AS DATE) BETWEEN DATEADD(day, -7, @Fecha) AND @Fecha)
          OR (@Periodo = 'Mensual'  AND YEAR(v.Fecha) = YEAR(@Fecha) AND MONTH(v.Fecha) = MONTH(@Fecha))
      )
    ORDER BY v.Fecha DESC;
END;